* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.game__el {
  position: absolute;
  top: 10vh;
  left: calc((100vw - 80vh) / 2);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80vh;
  height: 80vh;
}

.board {
  z-index: 0;
  border: 2px solid black;
  border-radius: 5px;
}

.case {
  width: 100%;
  height: 100%;
  background-color: white;
}
.case.black {
  background-color: black;
}

.piece {
  color: white;
  font-family: sans-serif;
  font-size: 10vh;
  line-height: 1;
  -webkit-text-stroke: 2px black;
  text-align: center;
}
.pieces {
  z-index: 1;
  border: 2px solid transparent;
}
.piece.black {
  color: black;
  -webkit-text-stroke: 2px white;
}

.c0-0 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.c0-1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c0-2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c0-3 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
.c0-4 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
}
.c0-5 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 6;
  grid-column-end: 7;
}
.c0-6 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 7;
  grid-column-end: 8;
}
.c0-7 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 8;
  grid-column-end: 9;
}
.c1-0 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.c1-1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c1-2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c1-3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}
.c1-4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
}
.c1-5 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 7;
}
.c1-6 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 7;
  grid-column-end: 8;
}
.c1-7 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 8;
  grid-column-end: 9;
}
.c2-0 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.c2-1 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c2-2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c2-3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}
.c2-4 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;
}
.c2-5 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 6;
  grid-column-end: 7;
}
.c2-6 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 7;
  grid-column-end: 8;
}
.c2-7 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 8;
  grid-column-end: 9;
}
.c3-0 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
.c3-1 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c3-2 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c3-3 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}
.c3-4 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 6;
}
.c3-5 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 6;
  grid-column-end: 7;
}
.c3-6 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 7;
  grid-column-end: 8;
}
.c3-7 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 8;
  grid-column-end: 9;
}
.c4-0 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}
.c4-1 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c4-2 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c4-3 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
.c4-4 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 5;
  grid-column-end: 6;
}
.c4-5 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 6;
  grid-column-end: 7;
}
.c4-6 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 7;
  grid-column-end: 8;
}
.c4-7 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 8;
  grid-column-end: 9;
}
.c5-0 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
}
.c5-1 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c5-2 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c5-3 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 4;
  grid-column-end: 5;
}
.c5-4 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 5;
  grid-column-end: 6;
}
.c5-5 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 6;
  grid-column-end: 7;
}
.c5-6 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 7;
  grid-column-end: 8;
}
.c5-7 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 8;
  grid-column-end: 9;
}
.c6-0 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 2;
}
.c6-1 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c6-2 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c6-3 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 5;
}
.c6-4 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 5;
  grid-column-end: 6;
}
.c6-5 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 6;
  grid-column-end: 7;
}
.c6-6 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 7;
  grid-column-end: 8;
}
.c6-7 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 8;
  grid-column-end: 9;
}
.c7-0 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 2;
}
.c7-1 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c7-2 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c7-3 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 4;
  grid-column-end: 5;
}
.c7-4 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 5;
  grid-column-end: 6;
}
.c7-5 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 6;
  grid-column-end: 7;
}
.c7-6 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 7;
  grid-column-end: 8;
}
.c7-7 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 8;
  grid-column-end: 9;
}/*# sourceMappingURL=App.css.map */