*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

.game__el{
    position: absolute;
    top: 10vh;
    left: calc((100vw - 80vh) / 2);

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vh;
    height: 80vh;
}

.column-number{
    position: absolute;
    top: 5vh;
    left: calc((100vw - 80vh) / 2);

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 80vh;
    font-size: 5vh;
    line-height: 1;
    text-align: center;
}

.row-number{
    position: absolute;
    top: 10vh;
    left: calc(((100vw - 80vh) / 2) - 10vh - 12px);

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(8, 1fr);
    width: calc(80vh / 8);
    font-size: 5vh;
    line-height: 1;
    height: 80vh;
    text-align: end;
    align-items: center;
}

.board{
    z-index: 0;
    border: 2px solid black;
    border-radius: 5px;
}

.square{
    pointer-events: all;
    width: 100%;
    height: 100%;
    background-color: white;
    
    &.black{
        background-color: black;
    }

    &--selected{
        position: relative;
        &::before{
            content: "";
            font-size: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 5px solid orange;
        }
    }

    &--move{
        position: relative;
        &::before{
            content: "";
            font-size: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 5px solid red;
        }
    }
}

.piece{
    text-transform: uppercase;
    color: white;
    font-size: 10vh;
    line-height: 1;
    -webkit-text-stroke: 1px black;
    text-align: center;
    pointer-events: none;

    &.black{
        color: black;
        -webkit-text-stroke: 1px white;
    }
}

/*
.sq{
    @for $i from 0 through 7 {
        @for $j from 0 through 7 {
            &#{$i}-#{$j}{
                grid-row-start: calc($i + 1);
                grid-row-end: calc($i + 2);
                grid-column-start: calc($j + 1);
                grid-column-end: calc($j + 2);
            }
        } 
    }
}
*/