*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

.game__el{
    position: absolute;
    top: 10vh;
    left: calc((100vw - 100vh) / 2);

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vh;
    height: 80vh;
}

.column-number{
    position: absolute;
    top: 5vh;
    left: calc((100vw - 100vh) / 2);

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 80vh;
    font-size: 5vh;
    line-height: 1;
    text-align: center;
}

.row-number{
    position: absolute;
    top: 10vh;
    left: calc(((100vw - 100vh) / 2) - 10vh - 12px);

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(8, 1fr);
    width: calc(80vh / 8);
    font-size: 5vh;
    line-height: 1;
    height: 80vh;
    text-align: end;
    align-items: center;
}

.board{
    z-index: 0;
    border: 2px solid black;
    border-radius: 5px;
}

.square{
    position: relative;
    z-index: 1;
    pointer-events: all;
    width: 100%;
    height: 100%;
    background-color: white;
    
    &.black{
        background-color: black;
    }

    &--selected{
        position: relative;
        &::before{
            content: "";
            font-size: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 5px solid orange;
        }
    }

    &--possibility{
        position: relative;
        &::before{
            content: "";
            font-size: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: greenyellow;
            opacity: 80%;
        }
    }

    &--check{
        position: relative;
        &::before{
            content: "";
            font-size: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 5px solid red;
            opacity: 90%;
        }

        &mate{
            position: relative;
            &::before{
                content: "";
                font-size: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: red;
                opacity: 90%;
            }
        }
    }

    &--stalemate{
        position: relative;
        &::before{
            content: "";
            font-size: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: purple;
            opacity: 80%;
        }
    }

    &--previousMove{
        &Origin{
            position: relative;
            &::before{
                content: "";
                font-size: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background-color: rgb(117, 3, 117);
            } 
        }

        &Destination{
            position: relative;
            &::before{
                content: "";
                font-size: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border: 5px solid rgb(231, 0, 231);
            } 
        }
    }
}

.piece{
    position: relative;
    //text-transform: uppercase;
    //color: white;
    //font-size: 10vh;
    //line-height: 1;
    //-webkit-text-stroke: 1px black;
    //text-align: center;
    pointer-events: none;

    font-size: 0;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;

    &.black{
        //color: black;
        //-webkit-text-stroke: 1px white;
        filter: invert(1);
    }
}

.pawn{
    background-image: url(assets/images/pawn.svg);
}
.knight{
    background-image: url(assets/images/knight.svg);
}
.rook{
    background-image: url(assets/images/rook.svg);
}
.bishop{
    background-image: url(assets/images/bishop.svg);
}
.queen{
    background-image: url(assets/images/queen.svg);
}
.king{
    background-image: url(assets/images/king.svg);
}

.winnerDisplay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    font-size: 10vh;
    z-index: 100;
    padding-top: 45vh;

    &--White-wins{
        color: black;
        background-color: rgba(255, 255, 255, 0.9);
    }
    &--Black-wins{
        color: white;
        background-color: rgba(0, 0, 0, 0.85);
    }
    &--Draw{
        color: black;
        background-color: rgba(123, 123, 123, 0.95);
    }
}

.turn{
    position: absolute;
    border: 2px black solid;
    border-radius: 2vh;
    padding: 1vh 2vh;
    top: 10vh;
    left: calc(((100vw - 100vh) / 2) + 83vh);
    max-width: 25vh;
    font-size: 5vh;

    &--black{
        border: 2px white solid;
        background-color: black;
        color: white;
    }
}

.previousMove{
    position: absolute;
    border: 2px rgb(117, 3, 117) solid;
    border-radius: 2vh;
    padding: 1vh 2vh;
    top: 32vh;
    left: calc(((100vw - 100vh) / 2) + 83vh);
    max-width: 28vh;
    font-size: 2.5vh;

    &__title{
        font-size: 3.5vh;
        color: rgb(117, 3, 117);
        border-bottom: 2px solid black;
        margin-bottom: 2vh;
    }

    &--highlight{
        border: 2px rgb(231, 0, 231) solid;

        & .previousMove__title{
            color: rgb(231, 0, 231);
        }
    }
}

.card{
    border-radius: 2vh;
    background-color: white;
    border: 2px solid black;
    background-size: contain;
    background-position: 50% 50%;
    pointer-events: all;
    cursor: pointer;

    &s{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;

        background-color: rgba(0, 0, 0, 0.85);

        &__list{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5vh;

            padding-left: 5vh;
            padding-right: 5vh;
            padding-top: 5vh;
            padding-bottom: 20vh;
            
            width: calc(100vw - 10vh);
            height: 40vh;
        }

        &__title{
            display: inline-block;
            padding: 3vh 2vh;
            background-color: white;
            border-radius: 2vh;
            color: black;
            border: 2px solid black;
            font-size: 7vh;
            margin-left: calc((100% - 73vh) / 2);
            margin-top: 20vh;

            &.black{
                background-color: black;
                color: white;
                border: 2px solid white;
            }
        }
    }
}